[Unit]
Description=Notsodeep service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/notsodeep
ExecStart=/opt/notsodeep/notsodeep
Restart=on-failure

[Install]
WantedBy=multi-user.target
